src/**
tests/**
node_modules/**
.git/**
.github/**
.vscode/**
*.zip
*.vsix
*.log
*.aux
*.fls
*.fdb_latexmk
*.nav
*.snm
*.toc
*.out
*.synctex.gz
package-lock.json
tsconfig.json
README.md
CHANGELOG.md
CONTRIBUTING.md
